body {
    font-family: Arial, sans-serif;
    background: rgb(17,94,158);
background: linear-gradient(90deg, rgba(17,94,158,1) 50%, rgba(0,212,255,1) 78%);
    margin: 0;
    padding: 0;
  }
  
  .converter {
    width: 300px;
    margin: 120px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  input[type="number"], select {
    width: calc(50% - 5px);
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: rgb(17,94,158);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;  
  }
  
  button:hover {
    background-color: rgb(18, 94, 235);
  }
  